body{
margin:0;
font-family:Arial;
background:#111;
color:white;
}

.navbar{
display:flex;
justify-content:space-between;
padding:20px;
background:black;
}

.navbar ul{
display:flex;
gap:25px;
list-style:none;
}

.navbar a{
color:white;
text-decoration:none;
}

.hero{
height:90vh;
background:url("/static/image/hero.jpg");
background-size:cover;
background-position:center;
display:flex;
align-items:center;
justify-content:center;
}

.hero-text{
text-align:center;
background:rgba(0,0,0,0.6);
padding:40px;
border-radius:10px;
}

.btn{
background:red;
padding:12px 20px;
text-decoration:none;
color:white;
}

.services{
padding:60px;
text-align:center;
}

.service-grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:30px;
margin-top:40px;
}

.card{
background:#222;
padding:20px;
border-radius:10px;
}

.card img{
width:100%;
border-radius:10px;
}

.login-section{
height:90vh;
background:url("/static/image/garage.jpg");
background-size:cover;
display:flex;
justify-content:center;
align-items:center;
}

.login-container{
background:rgba(0,0,0,0.7);
padding:40px;
border-radius:10px;
}

.login-container input{
display:block;
width:250px;
margin:10px 0;
padding:10px;
}

.login-container button{
background:red;
border:none;
padding:10px;
color:white;
width:100%;
}

footer{
text-align:center;
padding:20px;
background:black;
}